@import '../common/mixins';

.center {
    @include center;
    margin-top: 40vh !important;
}

p {
    color: white;
}

.fab {
    position: absolute;
    right: 5%;
    bottom: 2.5%;
}

input {
    color: white;
}
