.tichu-container * {
    margin-right: .5em;
}

.tichu-container {
    margin-bottom: 1em;
}

mat-form-field {
    width: 100%;
}

.tichu-field {
    width: 50% !important;
}

mat-checkbox {
    margin-left: .75em;
}

.submit-button {
    width: 100%;
}

.error-message {
    color: red;
}
